*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans',sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/pink1.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}  
.logo{ 
    color: rgb(228, 103, 176);
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: rgb(225, 149, 193);
    border:20px solid transparent;
    border-radius: 360px;
   
} 
.logo img{
    width: 40px;
    height: 40px;
   

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight:bold;
    text-transform: capitalize; 
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}
.resume-btn {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xs);
}
.resume-btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition:transform .4s;
}
.resume-btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size :25px;
    margin-bottom: 50px;
}
h4{
    color:#fcfc;
    letter-spacing: 2px;
    font-size:20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
span{
    color: #f9004d;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #FC94AF;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color:white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color:  rgba(94, 20, 94, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.work{
    width: 100%;
    padding: 100px 0px;
    background-color: #dd819a;
}
.work img{
    height: auto;
    width: 430px;
}
.work-text{
    width: 550px;
}
.main1{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.work-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.work-text h3{
    color:  rgba(236, 234, 236, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.me{
    width: 100%;
    padding: 100px 0px;
    background-color: #cf627f;
}
.me img{
    height: auto;
    width: 430px;
}
.me-text{
    width: 550px;
}

.main2{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.me-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.me-text h3{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.me-text h4{
    color:  rgba(236, 234, 236, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.music{
    height: 100vh;
    width: 100%;
    background-image:url(../img/image.png);
    background-size: cover;
    background-position: center;
    position: relative;

}
.content1{
    width:50%;
    position:absolute;
    top:30%;
}
.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 90px;
    color: #fff;
    line-height: 100px;
    float:left;

}
.right-col{
    float: right;
    display: flex;
    align-items: center;
 
}
.right-col p{
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;
}
#icon{
    width:80px;
    cursor: pointer;
}